.navFloatLeft {
    float:left;
}

.navFloatRight {
    float: right;
}

#background {
    background-image: url(../images/leaves.png);
}

.photo {
    width: 200px;
    height: 200px;
}

.textRight {
    float: right;
}

.footer {
    background-color: black;
    text-align: center;
}

.verticalLine {
    border-right: 1pt solid;
}

#hangman {
    background-image: url(../images/hangman.jpg);
    height: 200px;
    width: 200px;
}

.imageLabel {
    background: teal;
    color: white;
}